body
{
	/*font-family:'Helvetica Neue', Verdana, Geneva, sans-serif;*/
	font-family: Helvetica;
	font-size:15px;
	color:#999;
	margin: 0px;
	background-color:#000000;
}

a {
	color:#06F;
	text-decoration: underline;
}

a:hover {
	color:#999;
	text-decoration:none;
}

/* Estilos esqueleto säng */

#wrapper {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}

#contentWrap {
	width: 1200px;
	background-color: #000000;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom:20px;
}

#content {
	width: 1000px;
	float: left;
}

.full-width #content {
	width: 1200px;
}

#top {
	height: 100px;
	width: 1200px;
	padding-top: 0px;
}

div.clearfix {
	clear: both;
}

/*this is for example_api.html*/
#custom_controls
{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	vertical-align:middle;
	margin-bottom:20px;
}

#custom_controls a
{
	font-size:13px;
	color:#FFFFFF;
	text-decoration:none;
}

#custom_controls a:hover
{
	color:#666666;
	text-decoration:none;
}

#custom_garantia
{
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	vertical-align:middle;
	margin-bottom:auto;
	margin-top:70px;
	left:260px;
	right:200px;
	position:absolute;
}

#custom_garantia a
{
	font-size:15px;
	color:#FFFFFF;
	text-decoration:none;
}

#custom_garantia a:hover
{
	color:#666666;
	text-decoration:none;
}

.txtfield_garantia {
	width:170px;
	height:26px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:3px;
	background-color:transparent;
	background-image:url(../img-demo/bg_txtfieldGarantia.png);
	background-repeat:no-repeat;
	background-position:center center;
	-moz-border-radius:0px;
	-webkit-border-radius:6px;
	border:none !important;
	font-size: inherit;
	color:#CCC;
	padding:6px;
	text-align:center;
}

.ac_footer{
	width:960px;
	font-size:10px;
	vertical-align:middle;
	color:#CCC;
	margin-right: auto;
	margin-left: auto;
	height: 35px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
}
.ac_footer a{
	letter-spacing:1px;
	text-shadow:0px 0px 0px #000;
	color:#ccc;
	float:right;
	vertical-align:middle;
	text-decoration:none;
}

.ac_footer a span{
	font-weight:bold;
}
.ac_footer a.ac_left{
	float:left;
}

#img_footer{
	vertical-align:middle;
	float:left;
	margin-left:20px;
	border:none;
}

#img_footer_1{
	vertical-align:middle;
	float:right;
	margin-left:20px;
	border:none;
}

#sig{
	margin-left:10px;
	margin-right:10px;
	vertical-align:middle;
	float:left;
	border:none;
}

/*COLUMNAS*/


.one-third {
	width: 250px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}


.two-third {
	width: 990px;
	float: left;
	margin-left: 0px;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
	font-family:'Helvetica Neue', Verdana, Geneva, sans-serif;
	color: #3f3f3f;
	margin-right: 0;
	margin-left: 8px;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

p {
	font-size: 12px;
	color: #ffffff;
}

#menu {
	font-size: 14px;
}

#menu a {
	color:#ffffff;
	text-decoration:none;
}

#menu a:hover {
	color:#999999;
	text-decoration:none;
}

.dropcap{
	font-size:30px;
	line-height:5px;
	margin-bottom:-10px;
	margin-right:0px;
	text-align:left;
	font-weight: bolder;
}

.dropcap_disenadores{
	font-size:30px;
	line-height:5px;
	margin-bottom:-10px;
	margin-right:0px;
	text-align:left;
	font-weight: lighter;
}

.dropcap_sang{
	font-size:18px;
	line-height:5px;
	margin-bottom:-10px;
	margin-right:0px;
	text-align:left;
	font-weight: bolder;
}

.dropcap-n{
	color:#000000;
	font-size:24px;
	line-height:5px;
	margin-bottom:-10px;
	margin-right:0px;
	text-align:left;
}

.dropcap a{
	color:#ffffff;
	text-decoration:none;
}

.dropcap a:hover{
	color:#999999;
	text-decoration:none;
}

/* TOOLTIP CSS */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

/* SOCIAL */
div.social ul {
	padding: 10px;
	height:25px;
	border:none;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}

div.social ul li {
	float: right;
	margin-right: 5px;	
	color:#999;
}

div.social ul li a {
	color:#999;
	text-decoration:none;
}

div.social ul li a:hover {
	color:#FFF;
}

.clear {
	clear:both;
}

#hr {
	width:960px;
	height: 15px;
	background: none;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	clear:both;
}

.menuizquierda {
	float:left;
	width:120px;
	padding-top:20px;
	text-align:center;/*
	margin-left:10px;
	margin-right:15px;*/
}

.menus {
	float:left;
	width:120px;
	padding-top:20px;
	margin-right:20px;
	text-align:center;
}

#menus_txtsang {
	float:left;
	width:120px;
	padding-top:20px;
	margin-right:20px;
	text-align:center;
	font-size:16px;
}

.menuderecha {
	float:left;
	width:120px;
	padding-top:15px;
	text-align:center;
}

.menubtn {
	float:left;
	width:100px;
	padding-top:15px;
	text-align:center;
}

.menubtn1 {
	float:left;
	width:100px;
	padding-top:15px;
	text-align:right;
}

	
	#myimage {
		width:250px;
		height:400px;
    	background-color:#000000;
 }
 
 .hide {
    display:none;
 }
.visible {
    display:block;
 }
 
 #footer
{
	width:400px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	margin-top:0px;
	text-align:center;
	padding-top:50px;
	padding-right:auto;
	padding-left:auto;
}

.img_social {
	margin-left:20px;
	margin-right:20px;
	border: none;
}

.img_social ul {
	margin-left:20px;
	margin-right:20px;
	border: none;
}

#tabla {
	padding:10px;
	text-align:left;
	color:#FFF;
	width:100%;
}

#sub_footer{background-color:#000000;border-top:0px solid #151515;padding-top:10px;font-size:9px;min-height:30px; margin-top:25px;}
#sub_footer .one_half{margin-bottom:0;}
#sub_footer .last{text-align:right;}
.inner{height:100%;width:1200px;min-width:1200px;position:relative;clear:both;text-align:left;margin:0 auto;}
.one_half{width:100%;}
.last{margin-right:0 !important;clear:right; width:100%;}
#footer_nav li,#footer_nav ul{display:inline;font-weight:normal;text-transform:uppercase;}
#footer_nav a{padding:0 5px;}
.clearboth{clear:both;display:block;font-size:0px;height:0px;line-height:0;width:100%;}

.half-page {
	width: 435px;
	float: left;
	margin-left: 0px;
}

.half-page1 {
	width: 435px;
	float: right;
	margin-right: 160px;
}

#page-content {
	position: relative;
	padding-top: 15px;
	width: 580px;
	height: 600px;
	max-height: 600px;
	overflow: hidden;
}

#actions a.up, #actions a.down, a.folio-p, a.folio-n {
	display: block;
	width: 11px;
	height: 9px;
	cursor: pointer;
}

#actions a.up { background: transparent url('../images/up-arr.png') no-repeat center }
#actions a.down { background: transparent url('../images/down-arr.png') no-repeat center }

a.folio-p {
	background: transparent url('../images/prev-arr.png') no-repeat center;
	margin-left: 120px;
}
a.folio-n {
	background: transparent url('../images/next-arr.png') no-repeat center;
	margin-left: 25px;
}

#actions a:hover, a.folio-p:hover, a.folio-n:hover { border: none }

div.scrollable { 
    position: relative; 
    overflow: hidden;
} 
div.scrollable div.items { 
    position: absolute; 
    height: 20000em; 
}
div.item {
	margin-top: 10px;
	width: 580px;
	height: 166px;
	border-bottom: 1px solid #353535;
	overflow: hidden;
}
div.item img.item-img {
	width: 200px;
	height: 130px;
}
div.item-info {
	position: relative;
	height: 150px;
	overflow: hidden;
}

div.item-info p { padding: 5px 0px }
div.item-info img.mail { margin-left: 20px; margin-top: 2px }
div.mail-tooltip {
	display: none;
	position: fixed;
	padding: 4px;
	height: 11px;
	color: black;
	background-color: #cbcbcb;
	font: normal 10px/1.2em verdana;
	text-align: left;
	text-transform: uppercase;
}
.item-parag { border-top: 1px solid #353535 }

.scrollable-news-parag {
	height: 98px;
	overflow: hidden;
}
div.item-info .scroll-fix {
	width: 100%;
	float: left;
}

div.item-info span { color: white }

.newslettersang {
	width:597px;
	height:250px;
	position:relative;
	margin-top: 8px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 65px;
	background-color: transparent;
	background-image: url(../img-demo/bg-newsletter_597x250px.png);
	background-repeat: no-repeat;
	background-position: left center;
	overflow:auto;
}

.newslettersang p{padding:5px; color:#4e5960}

#newslettersang #newslettersangContainer {
	width:597px;
	height:250px;
	overflow:auto; /* allow scrollbar */
	position:relative;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 14px;
}

#newslettersang #newslettersangContainer .formulario {
  margin:0 auto;
  width:577px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:250px;
}

/* ------- 6. Forms ------- */

.newsform {
	background-color:#d4dee4;
	padding:5px;
	width:110px;
	-moz-border-radius:0px;
	-webkit-border-radius:6px;
	border:none !important;
	font-size:10px;
}


.btn{margin-left:0px; margin-right:5px; font-size:10px; font-weight:normal; color:#60696c}
.btn .margenizq{margin-left:5px; margin-right:0px; font-size:10px; font-weight:normal; color:#60696c}

.newsform_p {
	margin-top:0px;
	margin-bottom:5px;
}

.textfield_labelgarantia{
	font-size: 14px;
	font-weight:normal;
	color:#ffffff;
	text-align:center;
}

.lupa {
	margin-left:10px;
	vertical-align:middle;
	border:none;
}

/*////////  6. PORTFOLIO  ////////*/

.portfolioItem a {display:block;float:left;margin:20px 28px 0 0;position:relative;width:250px;height:130px;padding:5px;background:#222;}
.portfolioItem a:hover {background-position:left bottom;}

.portfolioItem strong {position:absolute;bottom:5px;left:5px;width:240px;z-index:2;color:#fff;background:url(../img/bg/transparentBlack.png);font-weight:normal;padding:5px 5px;}

.new {display:block;position:absolute;top:-1px;right:-1px;width:39px;height:39px;background:url(../img/bg/new.png);z-index:99;}


/* GALLERY */
/* **************************** */
/* IMAGE / VIDEO GALLERY AND PORTFOLIO */
/* **************************** */
div.gallery p {
	clear: both;
}

#content div.gallery img {
	background-color: transparent;
	border: 0;
	padding: 4px;
	border: 1px solid #ccc;
}

div.gallery ul {
	overflow: hidden;
	padding: 10px 0;
}

div.gallery li {
	float: left;
	width: 280px;
	min-height: 170px;
	background-image: url(../images/general/gallery-placeholder.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 20px 0;
	margin-left: 30px;
}

div.gallery li.image div,
div.portfolio.grid-2 li.image div {
	background-image: url(../images/general/icon-zoom-image.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 280px;
	height: 180px;
	overflow: hidden;
}

div.gallery li.vimeo div,
div.gallery li.youtube div,
div.portfolio.grid-2 li.vimeo div,
div.portfolio.grid-2 li.youtube div {
	background-image: url(../images/general/icon-zoom-video.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 290px;
	height: 180px;
	overflow: hidden;
}

div.gallery li img {
	padding: 5px;
	background-color: #ebebeb;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}


/* Sección Diseñadores */
#disenadores_sang {
	width:729px;
	height:294px;
	position:relative;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: -21px;
	background-color: transparent;
	background-image: url(../img-demo/disenadores_equipo.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

#disenadores_sang #disenadores_sangContainer {
	width:100%;
	height:294px;
	/*overflow:auto; allow scrollbar */
	position:relative;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#disenadores_sang #disenadores_sangContainer .equiposang {
  margin:0 auto;
  width:699px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:280px;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer{
	overflow: hidden;
	position: relative;
}

.jspPane{
	position: absolute;
}

.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background: #333333;
	border-top:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}

.jspHorizontalBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	width: 6px;
	background: #333333;
	border-top:1px solid #BBBBBB;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}
.jspVerticalBar *,
.jspHorizontalBar *{
	margin: 0;
	padding: 0;
}

.jspCap{
	display: none;
}

.jspHorizontalBar .jspCap{
	float: left;
}

.jspTrack{
	background: #DDDDDD;
	position: relative;
}

.jspDrag{
	background: #D31245;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
	float: left;
	height: 100%;
}

.jspArrow{
	background: #222;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow{
	height: 16px;
}
.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus{
	outline: none;
}

.jspCorner{
	background: #222;
	float: left;
	height: 100%;
}

.sendButton_sang {
	font-family:inherit;
	color:#ffffff;
	text-decoration:none;
	background-color:transparent;
	background-image:none !Important;
	background-repeat:no-repeat;
}

/* FORMS
 ------------------------------------- */

form ol {
	margin: 0px;
	list-style: none;
	overflow: hidden;
}
form ol li {
	display: block;
	margin-bottom: 5px;	
}
input.text_field,
textarea {
	display: block;
	border: solid 0px #adadad;
	font-family: inherit;
	font-size: 10px;
	color: #454545;
	background-color:#d4dee4;
	padding:5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 0px;
	border-radius: none;
}

input.small,
textarea.small {
	width:110px;
}
input.submit,
button {
	display: block;
	height: 20px;
	border: solid 0px;
	float: right;
	margin-right: 5px;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
	background-image: url(../img-demo/btn_enviar.png);
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 65px;
	font-weight:bold;
	color: #ffffff;
	font-size:12px;
	background-repeat: no-repeat;
	background-position: left center;
}
input.submit:hover,
input.submit:focus,
button:hover,
button:focus {
	background-color: transparent;
	background-image: url(../img-demo/btn_enviar.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-shadow: 0px 0px 0px #eaeaea;
	border: solid 0px #9f9f9f;
	color: #60696c;
	font-weight:bold;
}
.textfieldsang{margin-left:0px; margin-right:12px; font-size:12px; font-weight:normal; color:#60696c}

label {
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
	margin-left:0px;
	margin-right:12px;
	font-weight:normal;
	color:#60696c;
}

select {
	padding: 5px;
	border: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 0px;
	border-radius: none;
}
form .error {
	border: solid 1px #F00;
}
form em.error {
	border: none;
	color: #F00;
	font-family: inherit;
	font-size:9px;
}
form .valid {
	border: solid 1px #0F0;
}
form span#form_loading {
	display: block;
	height: 30px;
	width: 30px;
	float: left;
	background-image: url(../images/global/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
}

/* Notices */
span.success_notice,
span.error_notice,
span.warning_notice,
span.info_notice {
	display: block;
	padding: 10px;
	padding-left: 45px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
	cursor: pointer;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
span.success_notice {
	color: #1a8900;
	border: solid 0px #2add00;
	text-shadow: 0px 1px 0px #e5ffdf;
	margin-top:30px;
	font-weight:bold;
}
span.error_notice {
	color: #890000;
	border: solid 1px #dd0000;
	text-shadow: 0px 1px 0px #ffdfdf;
}
span.warning_notice {
	color: #666200;
	border: solid 1px #dadd00;
	text-shadow: 0px 1px 0px #fffedf;
}
span.info_notice {
	color: #003c66;
	border: solid 1px #008cdd;
	text-shadow: 0px 1px 0px #dff3ff;
}

/* -------------------------------------------------------------------------------------------------------------------
 ------------------------------------------------------------------------------------------------------------------ */

/* YOUR CUSTON CSS
 ------------------------------------- */
 
 hr { 
	display:block;
	height:0px;
	line-height:0px;
	border:0px;
	margin: 0px;
	padding:0px;
	height:18px;
	clear:both;
}

kbd {
	display:block;
	height:0px;
	line-height:0px;
	border:0px;
	margin: 0px;
	padding:0px;
	height:17px;
	clear:both;
	font-family:inherit;
	font-weight:lighter;
}