@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_masterpage.cshtml";
}
<div class="evaluacion">
    <img src="../../Content/images/Cuestionario.png" alt="Imagen" />
    <h2>
        Ha concluido la evaluación.</h2>
    <p>
        En 24 horas recibirá una liga en su correo electrónico para ver sus resultados.</p>
</div>
