@{
    ViewBag.Title = "ThanksDoctor";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}
<div class="evaluacion">
    <br />
    <h2>
        Gracias, el examen de sleeping image se ha cargado con éxito.</h2>
</div>
