@{
    ViewBag.Title = "ThanksAssits";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}
<div class="evaluacion">
    <br />
    <h2>
        Muchas gracias Doctor, la asistencia esta confirmada.</h2>
</div>
