@{
    ViewBag.Title = "Continue";
    Layout = "~/Views/Shared/_masterpage.cshtml";
}
<div class="evaluacion">
    <img src="../../Content/images/Cuestionario.png" alt="Imagen" />
    <h2>
        Ha concluido la evaluación.</h2>
    <p>
        En 24 horas recibirá un correo electrónico con los resultados.</p>
    <p>
        <input type="submit" value="Continuar" style="background: transparent; color: White;
            border: none; font-weight: lighter; font-size: 24px; cursor: pointer" />
    </p>
</div>