<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="Stylesheet" href="../../Content/css/jquery-ui-1.8.22.custom.css" />
    <link type="text/css" rel="Stylesheet" href="../../Content/css/jquery.ui.datepicker.css" />
</head>
<body>
    <div class="page">
        <header>
            <p>Bienvenido doctor</p>
            <div id="logindisplay">
                
            </div>
        </header>
    </div>
    <section id="main">
        @RenderBody()
    </section>
</body>
</html>
